@font-face {
    font-family: "Montserrat";
    src: url("files/11952.ttf");
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #030303;
    background-color: white;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
}

.container {}

.img-logo {
    width: 40px;
    height: 30px;
    background-color: #E62117;
    border-radius: 8px;
}

.name-logo {
    font-size: 24px;
    font-weight: 500;
}

.main-nav,
.problems-list {
    list-style: none;
}

.main-nav a {
    color: #030303;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: #554d4b;
}

.social {
    width: 30px;
    height: 30px;
    background-color: #FF0000;
    border-radius: 4px;
}

.intro,
.todo,
.page-footer {
    background-color: #F9F9F9;
}

.problems-list {
    line-height: 24px;
}

.try-promo p {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.btn {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #CC0000;
    width: 380px;
    height: 60px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0 auto;
}

.btn:hover {
    color: #d9d9d9;
}

.btn:active {
    color: #bfbfbf;
}

.todo-header {
    text-align: center;
}

.todo-header p {
    font-size: 18px;
    line-height: 22px;
}

.todo-item h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.todo-item p {
    line-height: 24px;
}

.subscribe p {
    font-size: 24px;
}

.subscribe-form input[type="text"],
.subscribe-form textarea {
    font: inherit;
    color: inherit;
    border: 1px solid #cccccc;
}

.subscribe-form input[type="text"]:hover,
.subscribe-form textarea:hover {
    border-color: #bebebe;
}

.subscribe-form input[type="text"]:focus,
.subscribe-form textarea:focus {
    border-color: #8d745a;
}

.page-footer p {
    font-size: 18px;
    line-height: 22px;
}

.footer-social p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}