doctype html
html(lang="ru")
    head
        // META START
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Заработок с помощью компьютерных игр на YouTube")
        meta(name="author" content="Aleksey Zikratskiy")

        // Open Graph Start
        meta(property="og:locale" content="ru_RU")
        meta(property="og:title" content="Реально ли зарабатывать на компьютерных играх?")
        meta(property="og:description" content="Ты наверняка много играешь? А можешь продолжать играть и зарабатывать на этом деньги! От тебя требуется только играть и снимать видео!")
        meta(property="og:url" content="https://x-monedy.com/")
        meta(property="og:image" content="https://x-monedy.com/assets/img/Video.jpg")
        meta(property="og:site_name" content="x-monedy")

        // Open Graph End
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="/assets/favicon/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        script(type='application/ld+json')
            |{
            |   "@context": "http://www.schema.org",
            |   "@type": "WebSite",
            |   "name": "X-Monedy",
            |   "alternateName": "x-monedy",
            |   "url": "https://x-monedy.com/",
            |   "description": "Заработок с помощью компьютерных игр на YouTube",
            |   "logo": "https://x-monedy.com/assets/img/logo.svg",
            |   "image": "https://x-monedy.com/assets/img/logo.svg"
            |}

        // META END

        link(rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/favicon/150x150.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon/16x16.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon/32x32.png")
        link(rel="manifest" href="assets/favicon/site.webmanifest")
        link(rel="shortcut icon" href="assets/favicon/favicon.ico")

        // FONTS
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet")

        title X-Monedy - зарабатывай просто играя в игры!
        link(rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon")
        style
            include ./style.css

    body
        // Yandex.Metrika counter
        script(type="text/javascript")
            |(function (m, e, t, r, i, k, a) {
            |   m[i] = m[i] || function () {
            |       (m[i].a = m[i].a || []).push(arguments)
            |   };
            |   m[i].l = 1 * new Date();
            |   k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            |})
            |(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            |
            |ym(72874123, "init", {
            |   clickmap: true,
            |   trackLinks: true,
            |   accurateTrackBounce: true,
            |   webvisor: true
            |});
        noscript
            div
                img(src="https://mc.yandex.ru/watch/72874123" style="position:absolute; left:-9999px;" alt="")
        // Yandex.Metrika counter

        section.top.container
            header.header
                div.logo
                    img(src="assets/img/logo.svg" alt="X-Monedy")
                ul.header__main-nav
                    li
                        a(href="#intro") Проблема
                    li
                        a(href="#todo") Решение
                div.header__social
                    div.header__social-block
                        div.header__social-vk
                        div.header__social-inst
            div.top__content
                h1.top__heading Играй, Записывай, Зарабатывай!
                ul.top__actions
                    li.top__action Играй в любимую игру
                    li.top__action Записывай интересные видео
                    li.top__action Зарабатывай и выводи деньги
                a.btn(href="#form") 
                    span ХОЧУ ПОПРОБОВАТЬ!

        section.intro.container#intro
            div.intro__block
                h2.heading.like-games__heading-margin Любишь <span class="bold">играть</span>?
                p.intro__text
                    |Если ты зашел на эту страницу, значит у тебя есть интерес к видеоиграм.<br>
                    |Скорее всего, ты проводишь много времени играя и был бы не против получать от 
                    |этого какой-то доход.<br>Думаем, ты знаешь, что есть отличный способ 
                    |<span class="bold">заработать</span> на этом хобби - монетизация видео или 
                    |реклама на YouTube.
            div.intro__block
                h2.heading.problem__heading Но есть <span class="bold">проблемы</span>?
                ul.problems-list
                    li Есть канал на YouTube, но не можешь его раскрутить и дойти до монетизации?
                    li Слишком мало получаешь с канала?
                    li Нет просмотров на канале?
                    li Никто не подписывается на канал?
                    li Не хочешь тратить много времени на монтаж?
                    li Не получается соблюдать график публикации?
                    li И так далее...

        section.try-promo.container
            p.try-promo__text
                |<span class="bold">НО</span> что, если мы скажем, что от тебя нужно будет 
                |<span class="bold">только играть</span> и записывать игровой процесс на видео? 
                |<span class="bold">Остальное мы берем на себя!</span>
            a.btn(href="#form" onclick="upperButton()") Я ГОТОВ!

        section.todo#todo
            h2.todo__heading.container Как получить деньги начиная с <span class="bold">первого</span> видео на YouTube?
            ol.todo__list
                li.todo-item
                    h3.todo-item__heading.container Запиши видео
                    p.todo-item__text.container
                        |<span class="bold">Просто</span> сделай запись как ты играешь, придумай название для своего видео и краткое описание. Все!
                li.todo-item
                    h3.todo-item__heading.container Зарегистрируйся и Добавь свое видео
                    p.todo-item__text.container
                        |Твое видео сразу добавится на раскрученный игровой канал. Ты сможешь получать деньги сразу за
                        |фактические просмотры по <span class="bold">правилам YouTube</span>, а не ждать, когда раскрутится
                        |твой канал.
                li.todo-item
                    h3.todo-item__heading.container Услуга по монтажу
                    p.todo-item__text.container
                        |Так же ты можешь <span class="bold">не заморачиваться</span> с монтажом, картинками и пр. Достаточно
                        |воспользоваться нашей услугой по монтажу видео! Все просто!
                li.todo-item
                    h3.todo-item__heading.container Получай доход за просмотры
                    p.todo-item__text.container
                        |Так как канал уже раскручен, ты сразу имеешь просмотры и подписчиков, а значит и
                        |<span class="bold">доход</span>, но не забывай, что многое зависит от того, во что ты играешь и
                        |насколько ты агрессивно разносишь своих врагов! Зритель любит Экшн!
                li.todo-item
                    h3.todo-item__heading.container Выводи деньги и играй дальше!
                    p.todo-item__text.container
                        |Это <span class="bold">все</span> что от тебя требуется!

        section.alpha.container
            p.alpha__text
                |Успевай стать альфа тестером нашего сервиса и после релиза мы обязательно о тебе 
                |вспомним и отблагодарим! Будут <span class="bold">подарки</span> всем первым участникам!
            a.btn(href="#form") ХОЧУ!

        section.subscribe.container#form
            div.paragraph
                p
                    |Наш проект сейчас находится в разработке и, если ты хочешь стать одним из первых его пользователей,
                    |просто оставь свой e-mail и мы оповестим тебя о запуске!
                p
                    |А если есть вопросы или предложения по проекту, то можешь смело писать их в поле "Ваш комментарий". 
                    |Мы будем рады любой обратной связи! Спасибо!
            form.form.subscribe-form(onsubmit="formOnsubmit(event);")
                input.form__control#email(type="email" name="email" placeholder="E-mail" required)
                textarea.form__control#comment(name="comment" placeholder="Ваш комментарий")
                input.form__custom-checkbox#subscribe(type="checkbox" name="subscribe" checked)
                label.subscribe__label.form__control(for="subscribe") Хочу получить уведомление о релизе
                button.btn(onclick="lowerButton()") БУДУ ЖДАТЬ!

        footer.page-footer.container
            div.footer-social
                p Подписывайтесь
                div.social-block
                    div.social.vk
                    div.social.inst
            div.footer-logo
                div.logo
                    img(src="assets/img/logo.svg" alt="X-Monedy")
                p.footer-logo__text Играем и зарабатываем


        // FIREBASE
        script(src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/8.2.9/firebase-functions.js")
        script(src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js")
        script(src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js")

        script
            include ./index.js
        script
            include ./form.js
