body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #1c2528;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.logo {
  width: 156px;
  height: 29px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: block;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background: #cc0000;
  border: none;
  border-radius: 2px;
  font: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 0px 20px #ff4545);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: #d9d9d9;
  border: none;
  box-shadow: none;
}

.btn:active {
  color: #bfbfbf;
  border: none;
}

.btn span {
  filter: none;
}

.heading {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.top {
  position: relative;
  padding-top: 30px;
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/img/pngwing.png") no-repeat;
  background-position: calc(100% - 20px) 70px;
  z-index: -1;
  filter: drop-shadow(0px 0px 250px #ffffff);
}

.header {
  margin-bottom: 114px;
}

.header__main-nav {
  display: none;
}

.header-social {
  display: none;
}

.social-block {
  display: flex;
  justify-content: flex-end;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 19px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 20px #000000);
}

.social:last-of-type {
  margin-right: 0;
}

.social.vk {
  background-image: url("assets/icons/VK.svg");
  border-radius: 50%;
}

.social.inst {
  background-image: url("assets/icons/Instagram.svg");
}

.top__heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 44px;
  text-shadow: 0px 0px 10px #000000;
}

.top__actions {
  width: 178px;
  margin: 0;
  margin-bottom: 86px;
  padding: 0;
  list-style: none;
}

.top__action {
  position: relative;
  margin-top: 20px;
  font-weight: 500;
}

.top__action::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 57px;
  border: 1px solid #ff543f;
  box-shadow: 0px 0px 4px #ff543f;
}

.top__action:first-child {
  width: 109px;
  margin: 0;
}

.top__action:first-child::before {
  display: none;
}

.intro {
  padding-top: 60px;
}

.intro__block {
  position: relative;
  margin-bottom: 80px;
}

.intro__block::after {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 60px;
  width: calc(100% - 120px);
  height: 0;
  border: 1px solid #ff543f;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #ff543f;
}

.intro__text {
  margin: 0;
  line-height: 34px;
  text-align: center;
}

.like-games__heading-margin {
  margin-bottom: 19px;
}

.problem__heading {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 34px;
}

.problems-list {
  margin: 0;
  line-height: 24px;
  padding-left: 30px;
  list-style: none;
}

.problems-list li {
  margin-bottom: 20px;
  position: relative;
}

.problems-list li:last-child {
  margin-bottom: 0;
}

.problems-list li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url(assets/icons/mark.svg);
  border-radius: 50%;
  box-shadow: 0px 0px 4px #fc5245;
}

.try-promo__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}

.todo {
  padding-top: 60px;
  padding-bottom: 40px;
}

.todo__heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.todo__list {
  counter-reset: todoCounter;
  position: relative;
  margin: 0;
  padding: 0;
}

.todo-item {
  position: relative;
  list-style: none;
  width: 100%;
  margin-bottom: 36px;
  padding-top: 120px;
  text-align: center;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-item::before {
  counter-increment: todoCounter;
  content: counter(todoCounter);
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  background-color: #1c2528;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 #ff4545;
  z-index: 1;
}

.todo-item::after {
  content: "";
  position: absolute;
  top: 49px;
  left: -20px;
  width: calc(100% + 40px);
  height: 2px;
  background-color: #ffffff;
}

.todo-item__heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.todo-item__text {
  margin-top: 10px;
  margin-bottom: 40px;
}

.todo-item:last-child .todo-item__text {
  margin-bottom: 0;
}

.alpha {
  position: relative;
  padding-top: 40px;
}

.alpha::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: calc(100% - 160px);
  height: 0;
  border: 1px solid #ff543f;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #ff543f;
}

.alpha__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}

.subscribe {
  padding-top: 60px;
  padding-bottom: 60px;
}

.paragraph {
  margin-bottom: 40px;
}

.paragraph p {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.subscribe p:first-of-type {
  margin-bottom: 16px;
}

.subscribe-form input[type="email"],
.subscribe-form textarea {
  width: 100%;
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1c2528;
}

.subscribe-form input[type="email"]:focus,
.subscribe-form textarea:focus {
  outline: none;
}

.subscribe-form input[type="email"]::placeholder,
.subscribe-form textarea::placeholder {
  color: #cccccc;
  font-size: 18px;
}

.subscribe-form input[type="email"] {
  height: 46px;
}

.form .form__control:not(:last-child) {
  margin-bottom: 30px;
}

.subscribe-form .error {
  border-color: #cc0000 !important;
}
.subscribe-form .success {
  border-color: #1dc602 !important;
}

.subscribe-form textarea {
  vertical-align: top;
  height: 200px;
  resize: none;
}

.form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__custom-checkbox + label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.form__custom-checkbox:checked + label::before {
  background: url("assets/icons/checked.svg") no-repeat center;
}

.subscribe__label {
  position: relative;
  display: block;
  padding-left: 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
}

.page-footer {
  padding-bottom: 60px;
}

.footer-social {
  margin-bottom: 68px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.footer-social .social-block {
  justify-content: center;
}

.footer-logo__text {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 340px) {
  .btn {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .top::before {
    background-position-y: 10px;
  }

  .top__heading {
    margin-bottom: 40px;
  }

  .top__actions {
    display: flex;
    margin-bottom: 144px;
  }

  .top__action {
    margin: 0;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid rgba(229, 229, 229, 0.5);
  }

  .top__action:first-child {
    margin: 0;
    padding: 0;
    border-left: none;
  }

  .top__action::before {
    display: none;
  }

  .top .btn {
    margin-left: 0;
  }

  .intro__block::after,
  .alpha::before {
    left: 25%;
    width: 50%;
  }

  .todo-item::after {
    left: -40px;
    width: calc(100% + 80px);
  }

  .subscribe-form {
    width: 416px;
    margin-left: auto;
    margin-right: auto;
  }

  .form .subscribe__label.form__control {
    margin-bottom: 40px;
  }

  .subscribe-form .btn {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("assets/icons/line.svg");
    background-repeat: repeat-x;
    background-position-y: 106px;
  }

  .top {
    padding-top: 35px;
  }

  .top::before {
    background-position-y: 101px;
    background-size: auto 478px;
  }

  .header {
    position: relative;
    display: flex;
    margin-bottom: 76px;
  }

  .header::before {
    content: "";
    position: absolute;
    bottom: -13px;
    width: 856px;
    height: 2px;
    background-color: rgba(229, 229, 229, 0.5);
  }

  .logo {
    margin: 0;
    margin-right: 127px;
  }

  .header__main-nav {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
  }

  .header__main-nav li {
    position: relative;
  }

  .header__main-nav a {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
  }

  .header__main-nav li:hover::before {
    content: "";
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 2px;
    background-color: #E62117;
  }

  .header__main-nav li:hover a {
    color: #E62117;
  }

  .header-social {
    display: flex;
  }

  .top__heading {
    font-size: 46px;
    line-height: 59px;
  }

  .top__actions {
    width: 100%;
    margin-bottom: 232px;
  }

  .top__action {
    width: 200px;
  }

  .top__action:first-child {
    width: 157px;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .intro__block {
    margin-bottom: 0;
  }

  .intro__block::after {
    display: none;
  }

  .intro__text {
    text-align: left;
  }

  .problem__heading {
    font-size: 32px;
    line-height: 39px;
  }

  .try-promo {
    position: relative;
    padding-top: 110px;
    padding-bottom: 178px;
  }

  .try-promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    width: 271px;
    height: 505px;
    background-image: url("assets/img/pngwing1.png");
    filter: drop-shadow(0px 0px 250px #FFFFFF);
  }

  .try-promo__block {
    width: 60%;
    margin-left: auto;
  }

  .try-promo__text {
    margin-bottom: 60px;
    font-size: 34px;
    line-height: 50px;
  }

  .todo {
    padding-top: 0;
    padding-bottom: 38px;
  }

  .todo__heading {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 59px;
  }

  .todo-item {
    width: calc((100% - 180px) / 2);
    margin-bottom: 0;
    padding-bottom: 37px;
    padding-top: 0;
  }

  .todo-item:last-child {
    padding-bottom: 0;
  }

  .todo-item:nth-child(odd) {
    margin-left: calc(50% + 50px);
    padding-left: 40px;
    text-align: left;
  }

  .todo-item:nth-child(even) {
    margin-left: auto;
    margin-right: calc(50% + 50px);
    padding-right: 40px;
    text-align: right;
  }

  .todo-item:nth-child(odd)::before {
    left: -100px;
  }

  .todo-item:nth-child(even)::before {
    left: unset;
    right: -100px;
  }

  .todo-item::after {
    top: 0;
    width: 2px;
    height: 100%;
  }

  .todo-item:last-child:after {
    display: none;
  }

  .todo-item:nth-child(odd):after {
    left: -50px;
  }

  .todo-item:nth-child(even):after {
    left: unset;
    right: -50px;
  }

  .todo-item__text {
    margin-bottom: 0;
  }

  .alpha {
    min-height: 522px;
    margin-top: 90px;
    padding-top: 78px;
  }

  .alpha::before {
    display: none;
  }

  .alpha::after {
    content: "";
    position: absolute;
    top: 0;
    right: 40px;
    width: 311px;
    height: 522px;
    background-image: url("assets/img/pngwing2.png");
    filter: drop-shadow(0px 0px 250px #FFFFFF);
  }

  .alpha__block {
    width: 60%;
  }

  .alpha__text {
    margin-bottom: 90px;
    font-size: 34px;
    line-height: 50px;
  }

  .subscribe {
    display: grid;
    grid-template-columns: 1fr 416px;
    gap: 35px;
  }

  .paragraph p {
    text-align: left;
  }

  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid rgba(229, 229, 229, 0.5);
  }

  .page-footer .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-social {
    margin-bottom: 0;
  }

  .footer-social .social-block {
    justify-content: flex-end;
  }

  .footer-logo {
    flex-grow: 1;
  }

  .footer-logo__text {
    width: 150px;
    margin-top: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .top__heading {
    font-size: 48px;
  }

  .try-promo::before {
    left: 0;
  }

  .try-promo__block {
    width: 780px;
  }

  .alpha::after {
    right: 0;
  }

  .alpha__block {
    width: 860px;
  }

  .subscribe {
    gap: 131px;
  }
}
