@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat.ttf");
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #030303;
    background-color: white;
}

.container {
    width: 90%;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
}

ul,
p {
    margin: 0;
}

.page-header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.img-logo {
    display: inline-block;
    width: 40px;
    height: 30px;
    background-color: #E62117;
    border-radius: 8px;
    margin-right: 10px;
}

.name-logo {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-right: 126px;
}

.main-nav,
.problems-list {
    list-style: none;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    padding: 0;
}

.main-nav li {
    margin-right: 27px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #030303;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: #554d4b;
}

.page-header .menu-icon {
    display: none;
}

.menu-icon .icon-item {
    width: 35px;
    height: 5px;
    background-color: #030303;
    margin: 6px 0;
    margin-left: auto;
    transition: 0.4s;
}

.menu-icon.change .icon-item:first-child {
    transform: rotate(-45deg) translate(-8px, 10px);
}

.menu-icon.change .icon-item:nth-child(2) {
    opacity: 0;
}

.menu-icon.change .icon-item:last-child {
    transform: rotate(45deg) translate(-5px, -7px);
}

.social-block {
    display: flex;
    justify-content: flex-end;
}

.social {
    width: 30px;
    height: 30px;
    background-color: #FF0000;
    border-radius: 4px;
    margin-right: 10px;
}

.social:last-of-type {
    margin-right: 0;
}

.video img {
    display: block;
}

.intro,
.todo,
.page-footer {
    background-color: #F9F9F9;
}

.intro {
    padding-top: 90px;
    padding-bottom: 60px;
}

.intro h2 {
    margin-bottom: 20px;
}

.intro .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.problems-list {
    line-height: 24px;
    padding-left: 30px;
}

.problems-list li {
    margin-bottom: 24px;
    position: relative;
}

.problems-list li:last-child {
    margin-bottom: 0;
}

.problems-list li::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/mark.svg);
}

.try-promo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.try-promo p {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.btn {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #CC0000;
    width: 380px;
    height: 60px;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
}

.btn:hover,
.btn:focus {
    color: #d9d9d9;
    border: none;
    box-shadow: none;
}

.btn:active {
    color: #bfbfbf;
    border: none;
}

.todo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.todo-header {
    text-align: center;
}

.todo-header h2 {
    margin-bottom: 15px;
}

.todo-header p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 36px;
}

.todo-list ol {
    counter-reset: todoCounter;
    position: relative;
    padding: 0;
}

.todo-list ol:before {
    content: "";
    height: 100%;
    border: 1px solid #030303;
    position: absolute;
    left: 50%;
}

.todo-item {
    position: relative;
    list-style: none;
    width: calc((100% - 184px) / 2);
}

.todo-item:nth-child(odd) {
    margin-left: calc(50% + 52px);
    padding-left: 40px;
}

.todo-item:nth-child(even) {
    margin-left: auto;
    margin-right: calc(50% + 52px);
    text-align: right;
    padding-right: 40px;
}

.todo-item::before {
    counter-increment: todoCounter;
    content: counter(todoCounter);
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    background-color: white;
    border: 2px solid #030303;
    border-radius: 50%;
}

.todo-item:nth-child(odd)::before {
    left: -104px;
}

.todo-item:nth-child(even)::before {
    right: -104px;
}

.todo-item h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}

.todo-item p {
    line-height: 24px;
    margin-bottom: 36px;
}

.subscribe {
    padding-top: 60px;
    padding-bottom: 60px;
}

.subscribe p {
    font-size: 24px;
}

.subscribe p:first-of-type {
    margin-bottom: 16px;
}

.subscribe-form {
    text-align: right;
}

.subscribe-form input[type="text"],
.subscribe-form textarea {
    width: 380px;
    font: inherit;
    font-size: 18px;
    color: inherit;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 10px;
}

.subscribe-form input[type="text"]:hover,
.subscribe-form textarea:hover {
    border-color: #bebebe;
}

.subscribe-form input[type="text"]:focus,
.subscribe-form textarea:focus {
    border-color: #8d745a;
    outline: none;
}

.subscribe-form input[type="text"]::placeholder,
.subscribe-form textarea::placeholder {
    color: #cccccc;
    font-size: 18px;
}

.subscribe-form input[type="text"] {
    margin-bottom: 20px;
    height: 46px;
}

.subscribe-form textarea {
    vertical-align: top;
    height: 200px;
    resize: none;
}

.subscribe-form .btn {
    margin-right: 0;
}

.page-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-footer .name {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
}

.page-footer p {
    font-size: 18px;
    line-height: 22px;
}

.footer-social {
    text-align: right;
}

.footer-social p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 1000px) {
    .page-header .main-nav,
    .page-header .header-social {
        display: none;
    }
    body.change {
        overflow: hidden;
    }
    .page-header .main-nav.change {
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        height: 100vh;
        top: 97px;
        left: 0;
        z-index: 1;
        padding-left: 5%;
    }
    .page-header .main-nav.change {
        padding-top: 24px;
    }
    .page-header .main-nav.change li {
        margin-bottom: 24px;
    }
    .page-header .main-nav.change li:last-child {
        margin-bottom: none;
    }
    .page-header .main-nav.change a {
        font-size: 26px;
        line-height: 30px;
    }
    .page-header .menu-icon {
        float: right;
        display: block;
        margin-left: auto;
    }
    .intro .container {
        grid-template-columns: 100%;
    }
    .intro .like-games {
        text-align: center;
    }
    .todo-list ol:before {
        left: 52px;
    }
    .todo-item {
        width: calc(100% - 144px);
    }
    .todo-item:nth-child(odd) {
        margin-left: 104px;
    }
    .todo-item:nth-child(even) {
        margin-left: 104px;
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 40px;
    }
    .todo-item:nth-child(even)::before {
        left: -104px;
    }
}

@media only screen and (max-device-width: 500px) {
    .btn {
        width: 100%;
    }
}